<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Gametrics</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	 <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
	<div>
	GPU: <span id="statsGPU">	
	</span>
	CPU: <span id="statsCPU">	
	</span>
	RAM: <span id="statsRAM">	
	</span>
	</div>
	
	<script>
	
	 setInterval( function () {
	 $( "#statsGPU" ).load( "/gpu #stats" );
	 $( "#statsCPU" ).load( "/cpu #stats" );
	 $( "#statsRAM" ).load( "/ram #stats" );
	 }, 5000 );
		</script>
	
</body>
</html>
